FOOTBALL_DATA_API_KEY=your_api_token_here
FOOTBALL_DATA_BASE_URL=https://api.football-data.org/v4
ODDS_API_KEY=d0e06224fd50977988172a97484e4e97
ODDS_API_BASE_URL=https://api.the-odds-api.com/v4
ODDS_API_DEFAULT_REGION=eu
DATABASE_URL=sqlite+aiosqlite:///./database/value_bet_finder.db